:root {
    /* Colors */
    --Background: #f2e5d9;
    /* Background color */
    --Primary: #32345f;
    /* Primary text color */
    --Accent: #cc9900;
    /* Accent color */
    --Placeholder: #eedccb;
    /* Placeholder color for images */

    /* Fonts */
    --font-family-primary: 'Poppins', sans-serif;
    --font-family-secondary: 'Roboto', sans-serif;
    --font-family-script: 'Vladimir Script', sans-serif;
    --font-size-xs: 0.65rem;
    --font-size-small: 1em;
    --font-size-base: 1.125em;
    --font-size-large: 1.375em;
    --font-size-xl: 2.75em;
    --font-size-xxl: 5.5em;
    --font-size-xxxl: 8.5em;

    /* Font Weights */
    --font-weight-light: 100;
    --font-weight-regular: 400;
    --font-weight-bold: 600;
    --font-weight-bolder: 800;

    /* Margins */
    --margin-xs: 0.2em;
    --margin-small: 0.5em;
    --margin-medium: 1em;
    --margin-large: 2.75em;
    --margin-xl: 5.5em;
    --margin-xxl: 6.375em;

    /* Padding */
    --padding-small: 0.5em;
    --padding-medium: 1em;
    --padding-large: 2.75em;
    --padding-xl: 5.5em;

    /* Line Heights */
    --line-height-normal: 1;
    --line-height-tight: 0.8;
    --line-height-loose: 1.4;

    /* Spacing */
    --gap-small: 0.5em;
    --gap-medium: 1.5em;
    --gap-large: 2em;
    --gap-xl: 3em;
    --gap-xxl: 6em;

    /* Radius */
    --border-radius: 1.875em;
    --form-radius: 0.25em;
}