@import url(root.css);

.content-grid {
    display: flex;
    padding-top: var(--padding-medium);
}

.left-side-image {
    aspect-ratio: 2.13;
    object-fit: contain;
    object-position: bottom;
    width: 1%;
    margin-bottom: var(--margin-large);
    flex-grow: 1;
}

.right-side-image {
    aspect-ratio: 2.13;
    object-fit: contain;
    object-position: top;
    width: 1%;
    margin-top: var(--margin-large);
    flex-grow: 1;
}

.invitation-text {
    color: var(--Primary);
    text-align: center;
    font: var(--font-weight-bold) var(--font-size-base) var(--font-family-secondary);
}
.invitation-text h2 {
    font: var(--font-weight-regular) var(--font-size-xxl) var(--font-family-script);
    line-height: var(--line-height-tight);
    margin: var(--margin-small);
}

.rsvp-buttons {
    display: flex;
    margin: var(--margin-large);
    align-items: center;
    gap: 4.5em;
    color: var(--Accent);
    justify-content: center;
    flex-wrap: wrap;
    padding: 0 10em;
    font: var(--font-weight-bolder) var(--font-size-base) var(--font-family-primary);
}

.btn.select {
    background-color: var(--Accent);
    color: var(--Background);
}

.block {
    margin: 0 var(--margin-medium);
}

.form-group {
    display: block;
    line-height: var(--line-height-normal);
}

.form-group label {
    font: var(--font-weight-regular) var(--font-size-base) var(--font-family-secondary);
    display: block;
    margin: var(--margin-medium) 0 var(--margin-small) 0;
}

.asterisk {
    color: #ff3333;
}

.form-group input[type=text],
.form-group input[type=tel],
.form-group input[type=email],
.form-group select,
.form-group textarea {
    background: var(--Background);
    font-size: var(--font-size-small);
    border-radius: var(--form-radius);
    border: 0.0625em solid var(--Primary);
    padding-left: var(--padding-small);
    appearance: none;
}
.form-group input[type=text],
.form-group input[type=tel],
.form-group input[type=email],
.form-group select {
    height: 2.75em;

}

.form-group {
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: start;
    margin-top: var(--margin-large);
}

.gift-note {
    border-radius: var(--border-radius);
    background-color: var(--Placeholder);
    box-shadow: 0 0.25em 0.25em rgba(0, 0, 0, 0.25);
    align-self: center;
    display: flex;
    margin-top: var(--margin-large);
    width: 50%;
    flex-direction: column;
    align-items: center;
    color: var(--Primary);
    font-weight: 500;
    justify-content: start;
    padding: var(--padding-large);
    /* 28px */
}

.gift-icon {
    aspect-ratio: 1;
    object-fit: contain;
    object-position: center;
    width: 3em;
    /* 48px */
}

.gift-title {
    font: 400 4.5em var(--font-family-script);
    margin: 0 0 var(--margin-small) 0;
}

.gift-subtitle {
    text-align: center;
    text-transform: uppercase;
    font: 1.375em 'Chronica Pro', sans-serif;
    /* 22px */
    margin: 0;
}

.gift-divider {
    border: 0.25em solid var(--Primary);
    /* 4px */
    width: 80%;
}

.gift-description {
    text-align: center;
    font: var(--font-size-base) var(--font-family-secondary);
}

.submit-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: var(--font-size-base);
    justify-content: center;
    color: var(--Accent, #c90);
}

.submit-note {
    font-family: var(--font-family-secondary);
    color: var(--Primary);
    padding-top: 1.75em;
    /* 28px */
}

.location-container {
    border-radius: var(--border-radius);
    background-color: var(--Placeholder);
    display: flex;
    margin: var(--margin-xl) var(--margin-large);
    flex-direction: column;
    align-items: center;
    color: var(--Primary);
    text-align: center;
    justify-content: center;
}

.location-title {
    align-self: center;
    font: var(--font-weight-bolder) 4em 'Chronica Pro', sans-serif;
    /* 64px */
    margin: var(--margin-xs) 0 0 0;
}

.location-description {
    margin: var(--margin-large);
    font: 500 var(--font-size-base) var(--font-family-secondary);
}

.location-map {
    display: flex;
    height: 25em;
    /* 400px */
    width: 95%;
}

@media (max-width: 576px) {
    body {
        font-size: var(--font-size-xs);
    }
    .content-grid {
        padding-top: var(--padding-large);
        justify-content: center;
    }
    .left-side-image,
    .right-side-image {
        display: none;
    }
    .block {
        padding: 0 var(--padding-medium);
    }

    .invitation-text h2 {
        font-size: var(--font-size-xl);
    }
    .rsvp-buttons {
        gap: 2em;
        padding: 0;
        font-size: var(--font-size-small);
        margin: var(--margin-medium);
        flex-wrap: nowrap;
    }
    .submit-container {
        margin: 0 var(--margin-medium);
        text-align: center;
    }

    .gift-note {
        width: 90%;
        padding: var(--padding-medium);
    }
    .gift-icon {
        width: 2em;
    }
    .gift-title {
        font-size: var(--font-size-xl);
        margin: 0;
    }

    .gift-subtitle {
        font-size: var(--font-size-small);
    }
    .gift-description {
        font-size: var(--font-size-small);
    }
    .location-container {
        margin: var(--margin-large) var(--margin-medium);
        padding: var(--padding-medium);
    }

    .location-title {
        font-size: var(--font-size-xl);
        margin: 0;
    }
    .location-description {
        margin: var(--margin-medium);
    }
    .location-map {
        width: 90%;
        height: auto;
    }
    .location-map iframe {
        height: 200px;
        border-radius: var(--form-radius);
    }
    .form-group {
        margin-top: var(--margin-medium);
    }

    .block {
        margin: 0;
    }
}

@media (min-width: 577px) and (max-width: 768px) {
    body {
        font-size: var(--font-size-xs);
    }
    .content-grid {
        padding-top: var(--padding-medium);
        justify-content: center;
    }
    .content-grid img {
        display: none;
    }
    .block {
        padding: 0 var(--padding-medium);
    }
    .invitation-text {
        font-size: var(--font-size-small);
    }
    .invitation-text h2 {
        font-size: var(--font-size-xl);
    }
    .rsvp-buttons {
        gap: 2em;
        padding: 0;
        font-size: var(--font-size-xs);
        margin: var(--margin-medium);
        flex-wrap: nowrap;
    }
    .submit-container {
        margin: 0 var(--margin-medium);
        text-align: center;
    }
    .submit-container button {
        font-size: var(--font-size-xs);
    }
    .gift-note {
        width: 70%;
        padding: var(--padding-medium);
    }
    .gift-icon {
        width: 2em;
    }
    .gift-title {
        font-size: var(--font-size-xl);
        margin: 0;
    }
    .gift-subtitle {
        font-size: var(--font-size-small);
    }
    .gift-description {
        font-size: var(--font-size-small);
    }
    .location-container {
        margin: var(--margin-large) var(--margin-medium);
        padding: var(--padding-medium);
    }
    .location-title {
        font-size: var(--font-size-xl);
        margin: 0;
    }
    .location-description {
        margin: var(--margin-medium);
        font-size: var(--font-size-small);
    }
    .location-map {
        width: 90%;
        height: auto;
    }
    .location-map iframe {
        height: 300px;
        border-radius: var(--form-radius);
    }
    .form-group {
        margin-top: var(--margin-medium);
    }
    .block {
        margin: 0;
    }
}

@media (min-width: 769px) and (max-width: 1024px){
    body {
        font-size: var(--font-size-xs);
    }

    .content-grid {
        padding-top: var(--padding-medium);
        justify-content: center;
    }
    .block {
        padding: 0 var(--padding-medium);
    }

    .invitation-text {
        font-size: var(--font-size-large);
        padding: 0 var(--padding-medium);
    }

    .invitation-text h2 {
        font-size: var(--font-size-xl);
    }

    .rsvp-buttons {
        gap: 2em;
        padding: 0;
        font-size: var(--font-size-small);
        margin: var(--margin-medium);
        flex-wrap: nowrap;
    }

    .submit-container {
        margin: 0 var(--margin-medium);
        text-align: center;
    }

    .submit-container button {
        font-size: var(--font-size-small);
    }

    .gift-note {
        width: 60%;
        padding: var(--padding-medium);
    }

    .gift-icon {
        width: 2em;
    }

    .gift-title {
        font-size: var(--font-size-xxl);
        margin: 0;
    }

    .gift-subtitle {
        font-size: var(--font-size-base);
    }

    .gift-description {
        font-size: var(--font-size-base);
    }

    .location-container {
        margin: var(--margin-large) var(--margin-medium);
        padding: var(--padding-medium);
    }

    .location-title {
        font-size: var(--font-size-xl);
        margin: 0;
    }

    .location-description {
        margin: var(--margin-medium);
        font-size: var(--font-size-base);
    }

    .location-map {
        width: 90%;
        height: auto;
    }

    .location-map iframe {
        height: 400px;
        border-radius: var(--form-radius);
    }

    .form-group {
        margin-top: var(--margin-medium);
    }

    .block {
        margin: 0;
    }
}

@media (min-width: 1025px) and (max-width: 1400px) {

    .left-side-image,
    .right-side-image {
        width: 35%;
    }

    .gift-note {
        width: 40%;
    }

    .location-map {
        height: 30em;
    }
}